{% extends 'base.html' %}
{% load static %}
{% block titlename %}The wheels on the bus go round and round!{%endblock%}
{% block morecss %}
	<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
{% endblock %}
{% block javascript %}
<!--<script type="text/javascript" src="{% static 'js/frontpage.js' %}"></script>-->
<script type="text/javascript" canvas="myCanvas" src="{% static 'js/lazyjson.js' %}"></script>
<script type="text/javascript" canvas="myCanvas" src="{% static 'js/canvascool.js' %}"></script>

{% endblock %}
{% block content %}
<div class="cuteblock">
	<h1>HOLA!</h1>
</div>
{%endblock%}
