{% load static %}
<!DOCTYPE HTML>
<html>
<head>
	<title>{% block titlename %}{% endblock titlename %} Sharkbidz</title>
	{%block morecss%}{%endblock morecss%}
</head>
<body>
<!--<script type="text/javascript" src="{% static '/js/paperjs/dist/paper-full.js' %}"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.5.1/pixi.min.js"></script>
	{% block javascript %}
	{% endblock javascript %}
	<header>
	</header>
	<main>
		{% block content %}{% endblock content %}
	</main>
</body>